.title{
    color: wheat;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-left: 50vh;
}

.logoImg{
width: 35%;
height: 50%;
}
.paragrafo{
    color: wheat;
}